
@use "../styles/mixins" as *;

/* It is standard practice to write !important on utility classes */
.uMarginBottomSmall {
    margin-bottom: 1.5rem !important;
}

.uMarginBottomMedium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;  
    }
}


.uMarginBottomBig {
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;  
    }
}

.uMarginTopBig {
    margin-top: 8rem !important;
}

.uMarginTopHuge {
    margin-top: 10rem !important;
}


.uCenterText
{
    /** 
    Works only if the child is an inline block element
    **/
    text-align: center !important;
}